<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Aktifitas User</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Daftar Aktifitas User</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Waktu Pengunaan</th>
            <th>Nama User</th>
            <th>Keterangan</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="t : ${daftarAnggota}">
            <td th:text="${t.waktuTransaksi}">12-Mar-2020 20:20:11</td>
            <td th:text="${t.user.username}">Pengguna 1</td>
            <td th:text="${t.keterangan}">Setoran Tunai</td>
            <td th:text="${t.nilai}">100.000</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>