<!DOCTYPE html>
<html>
    
    <body>
        <div th:fragment="tambah">
            <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
           <form th:action="@{/peminjaman/tambahData}" method="POST">
               <div class="modal-dialog modal-lg" role="document">
                   <div class="modal-content">
                       <div class="modal-header">
                           <h5 class="modal-title" id="exampleModalLabel">Tambah Data Peminjam</h5>
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                           </button>
                       </div>
       
                       <div class="modal-body">
                           <div class="form-group">
                               <label for="anggotaid" class="col-form-label">Nama Peminjam: </label>
                               <select class="form-control" id="anggotaid" name="anggotaid">
                                   <option>-Pilih-</option>
                                   <option th:each="anggota : ${anggotas}"
                                           th:value="${anggota.id_anggota}"
                                           th:text="${anggota.nama}">
                                   </option>
                               </select>
                           </div>
                           <div class="form-group">
                               <label for="bukuid" class="col-form-label">Judul Buku: </label>
                               <select class="form-control" id="bukuid" name="bukuid">
                                   <option>-Pilih-</option>
                                   <option th:each="buku : ${bukus}"
                                           th:value="${buku.id_buku}"
                                           th:text="${buku.judul}">
                                   </option>
                               </select>
                           </div>
                           <div class="form-group">
                               <label for="tanggal_pinjam" class="col-form-label">Tanggal Pinjam:</label>
                               <input type="date" class="form-control" id="tanggal_pinjam" name="tanggal_pinjam">
                           </div>
                           <div class="form-group">
                               <label for="tanggal_kembali" class="col-form-label">Tanggal Kembali:</label>
                               <input type="date" class="form-control" id="tanggal_kembali" name="tanggal_kembali">
                           </div>
                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                           <button type="submit" class="btn btn-primary">Save</button>
                       </div>
                   </div>
               </div>
           </form>
       </div>
        </div>
    </body>
</html>