<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="'template/head' :: head"></div>
<body>

    <div th:replace="'template/sidebar' :: sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

     <!-- Content -->
    <div th:replace="'template/content/anggota' :: content"></div>
    <!-- End Content -->

    <!-- footer -->
<!--    <div th:replace="'template/footer' :: footer"></div>-->
    <!-- end main footer -->

    </div>
        <!-- End of Content Wrapper -->

    <!-- Tambah Data -->
    <div th:replace="'template/add/anggota' :: tambah"></div>
    <!-- Akhir Tambah Data -->

    <!-- Edit Data -->
    <div th:replace="'template/edit/anggota' :: edit"></div>
    <!--  Akhir Edit Data -->

    <!--  Detail Data -->
    <div th:replace="'template/details/anggota' :: detail"></div>
    <!--  Detail Data -->

    <!--  Delete Data -->
    <div th:replace="'template/delete/anggota' :: delete"></div>
    <!-- Akhir Delete Data -->

    <!-- Logout Modal-->
    <div th:replace="'template/logout' :: logout"></div>
    <!-- Logout Modal -->

    <!-- js -->
    <div th:replace="'template/javascript' :: js"></div>
    <!-- js -->

    <!-- Internal Javascript -->
    <script src="js/anggota.js"></script>
    <!--Close Internal Javascript-->
</body>

</html>