<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SISPUR | Homepage</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style-landing.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Mobile Menu ======= -->
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <!-- ======= Header ======= -->
  <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-lg-2">
          <h1 class="mb-0 site-logo"><a th:href="@{/}" class="mb-0">SISPUR</a></h1>
        </div>

        <div class="col-12 col-md-10 d-none d-lg-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li class="active"><a th:href="@{/}" class="nav-link">Home</a></li>
              <li><a th:href="@{signin}" class="nav-link">Login</a></li>
              <li><a th:href="@{signup}"class="nav-link">Daftar</a></li>

            </ul>
          </nav>
        </div>

        <div class="col-6 d-inline-block d-lg-none ml-md-0 py-3" style="position: relative; top: 3px;">

          <a href="#" class="burger site-menu-toggle js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
        </div>

      </div>
    </div>

  </header>

  <!-- ======= Hero Section ======= -->
  <section class="hero-section" id="hero">

    <div class="wave">

      <svg width="100%" height="355px" viewBox="0 0 1920 355" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
            <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,757 L1017.15166,757 L0,757 L0,439.134243 Z" id="Path"></path>
          </g>
        </g>
      </svg>

    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 hero-text-image">
          <div class="row">
            <div class="col-lg-7 text-center text-lg-left">
              <h1 data-aos="fade-right">Mari Membaca Agar Cakrawala Dunia Terbuka </h1>
              <p class="mb-5" data-aos="fade-right" data-aos-delay="100">Ini adalah landing page dari sistem informasi perpustakan.</p>
              <p data-aos="fade-right" data-aos-delay="200" data-aos-offset="-500"><a href="#" class="btn btn-outline-white">Mari Mulai</a></p>
            </div>
            <div class="col-lg-5 iphone-wrap">
              <img src="img/phone_1.png" alt="Image" class="phone-1" data-aos="fade-right">
              <img src="img/phone_2.png" alt="Image" class="phone-2" data-aos="fade-right" data-aos-delay="200">
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Home Section ======= -->
    <section class="section">
      <div class="container">

        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-5" data-aos="fade-up">
            <h2 class="section-heading">Apasih manfaat dari membaca? </h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="">
            <div class="feature-1 text-center">
              <div class="wrap-icon icon-1">
                <span class="icon la la-users"></span>
              </div>
              <h3 class="mb-3">Memiliki Pengetahuan</h3>
              <p>Dengan Membaca kita dapat memiliki pengetahuan, asiknya, kita dapat berbagi pengetahuan kita!</p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="feature-1 text-center">
              <div class="wrap-icon icon-1">
                <span class="icon la la-toggle-off"></span>
              </div>
              <h3 class="mb-3">Memiliki Kepercayaan Diri</h3>
              <p>Dengan Membaca kita dapat meningkatkan kepercayaan diri loh? ayo coba!</p>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="feature-1 text-center">
              <div class="wrap-icon icon-1">
                <span class="icon la la-umbrella"></span>
              </div>
              <h3 class="mb-3">Mempunyai Cara Berpikir Luas</h3>
              <p>Dengan Membaca kita dapat berpikir secara luas loh, gak yakin? coba deh gengs!</p>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row justify-content-center text-center mb-5" data-aos="fade">
          <div class="col-md-6 mb-5">
            <img src="img/undraw_svg_4.svg" alt="Image" class="img-fluid">
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="step">
              <span class="number">01</span>
              <h3>Membaca Gratis!</h3>
              <p>Dengan Menggunakan Sispur Membaca Jadi Lebih Mudah, kamu dapat membaca buku secara gratis! </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="step">
              <span class="number">02</span>
              <h3>Membaca Nyaman!</h3>
              <p>Dengan Tampilan UI yang baik, membaca menjadi lebih nyaman. rasakan membaca berjam jam tanpa
              membuat mata sakit! </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="step">
              <span class="number">03</span>
              <h3>Mendownload Mudah</h3>
              <p>Semua Buku yang tersedia di Sispur dapat digunakan secara gratis dan bisa anda download sesuka hati!.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 mr-auto">
            <h2 class="mb-4">Mengapa Harus Menggunakan Sispur</h2>
            <p class="mb-4">Aplikasi sispur dapat anda gunakan untuk keperluan membaca sehari hari,
              dengan aplikasi ini anda dapat mendownload semua resource secara gratis.
              ayo segara daftar.</p>
            <p><a th:href="@{signup}" class="btn btn-primary">Daftar Sekarang</a></p>
          </div>
          <div class="col-md-6" data-aos="fade-left">
            <img src="img/undraw_svg_2.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4 ml-auto order-2">
            <h2 class="mb-4">Daftar Buku Terlengkap! </h2>
            <p class="mb-4">Aplikasi Sispur memiliki daftar buku terlengkap yang bisa anda gunakan
            untuk keperluan membaca, anda juga dapat berkontribusi untuk membagi ilmu dengan menulis artikel! </p>
            <p><a th:href="@{signup}" class="btn btn-primary">Baca Sekarang</a></p>
          </div>
          <div class="col-md-6" data-aos="fade-right">
            <img src="img/undraw_svg_3.svg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </section>


    <!-- ======= Testimonials Section ======= -->
    <section class="section border-top border-bottom">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-4">
            <h2 class="section-heading">Review Dari Users</h2>
          </div>
        </div>
        <div class="row justify-content-center text-center">
          <div class="col-md-7">
            <div class="owl-carousel testimonial-carousel">
              <div class="review text-center">
                <p class="stars">
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
<!--                  <span class="icofont-star muted"></span>-->
                </p>
                <h3>Sangat Bermanfaat sekali!</h3>
                <blockquote>
                  <p>Sebagai Mahasiswa Tentunya kita perlu untuk belajar, di sispur ini
                  saya dapat meminjam buku yang saya perlukan, hanya perlu daftar, dan buku
                  yang saya cari bisa saya baca secara gratis. terima kasih sispur</p>
                </blockquote>

                <p class="review-user">
                  <img src="img/person_1.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                  <span class="d-block">
                    <span class="text-black">Arif Dermawan</span>, &mdash; Mahasiswa
                  </span>
                </p>

              </div>

              <div class="review text-center">
                <p class="stars">
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>

                </p>
                <h3>Membaca Buku sekarang lebih mudah</h3>
                <blockquote>
                  <p>Sebelum mengenal aplikasi sispur ini, dahulu saya sangat susah sekali
                  mencari buku yang saya cari, dengan adanya aplikasi ini saya sangat mudah mencari
                  buku yang saya inginkan, dan asiknya, bukunya gratis!!</p>
                </blockquote>

                <p class="review-user">
                  <img src="img/person_2.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                  <span class="d-block">
                    <span class="text-black">Ahmad Zaelani</span>, &mdash; Mahasiswa
                  </span>
                </p>

              </div>

              <div class="review text-center">
                <p class="stars">
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                  <span class="icofont-star"></span>
                </p>
                <h3>Tampilan Membacanya nyaman!</h3>
                <blockquote>
                  <p>Setelah Menggunakan aplikasi ini, semangat membaca saya menjadi lebih powerfull</p>
                </blockquote>

                <p class="review-user">
                  <img src="img/person_3.jpg" alt="Image" class="img-fluid rounded-circle mb-3">
                  <span class="d-block">
                    <span class="text-black">Arum Nurbaeti</span>, &mdash; Mahasiswa
                  </span>
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= CTA Section ======= -->
    <section class="section cta-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mr-auto text-center text-md-left mb-5 mb-md-0">
            <h2>Mari Budayakan Membaca Agar Hidup menjadi lebih baik</h2>
          </div>
        </div>
      </div>
    </section><!-- End CTA Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <h3>Tentang Sispur</h3>
          <p>Sistem Informasi Perpustakaan ini dibangun dengan menggunakan java dan springboot , dengan penggunaan teknologi ini
          kita dapat membuat sebuah website </p>
          <p class="social">
            <a href="#"><span class="icofont-twitter"></span></a>
            <a href="#"><span class="icofont-facebook"></span></a>
            <a href="#"><span class="icofont-dribbble"></span></a>
            <a href="#"><span class="icofont-behance"></span></a>
          </p>
        </div>
        <div class="col-md-7 ml-auto">
          <div class="row site-section pt-0">
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Artikel</h3>
              <ul class="list-unstyled">
                <li><a href="#">Blog</a></li>
                <li><a href="#">Sosial</a></li>
                <li><a href="#">Teknologi</a></li>
                <li><a href="#">Aplikasi</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Contact Developer</h3>
              <ul class="list-unstyled">
                <li><a href="#">Whatsapp</a></li>
                <li><a href="#">Telegram</a></li>
                <li><a href="#">Gmail</a></li>
              </ul>
            </div>

            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Daftar Aplikasi</h3>
              <ul class="list-unstyled">
                <li><a href="#">System Management</a></li>
                <li><a href="#">System Selling </a></li>
                <li><a href="#">System Ecommerce </a></li>
                <li><a href="#">System Inventory </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">
            &copy; 2020 <script type="text/javascript">new Date().getFullYear()>2020&&document.write("-"+new Date().getFullYear());</script>, Sistem Informasi Perpustakaan
          </p>
          <div class="credits">
            Developer By <a href="https://github.com/artdengun">Deni Gunawan</a>
          </div>
        </div>
      </div>

    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/jquery-sticky/jquery.sticky.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main-landing.js"></script>

</body>

</html>