<!DOCTYPE html>
<html lang="en">
<div th:replace="'template/head' :: head"></div>
<body id="page-top">
    <div th:replace="'template/sidebar' :: sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

    <!-- Content -->
    <div th:replace="'template/content/peminjaman' :: content"></div>
    <!-- Content-->

    <!-- Footer -->
<!--    <div th:replace="'template/footer' :: footer"></div>-->
    <!-- Close Footer-->

    </div>
    <!-- End of Content Wrapper -->

    <!-- Tambah Data -->
    <div th:replace="'template/add/peminjaman' :: tambah"></div>
    <!-- Akhir Tambah Data -->

    <!-- Edit Data -->
    <div th:replace="'template/edit/peminjaman' :: edit"></div>
    <!--  Akhir Edit Data -->

    <!--  Detail Data -->
    <div th:replace="'template/details/peminjaman' :: detail"></div>
    <!--  Detail Data -->

    <!--  Delete Data -->
    <div th:replace="'template/delete/peminjaman' :: delete"></div>
    <!-- Close Delete Data-->

    <!-- Logout Modal-->
    <div th:replace="'template/logout' :: logout"></div>
    <!-- End Logout-->

    <!-- External javascript and bootstrap-->
    <div th:replace="'template/javascript' :: js"></div>
    <!-- External javascript and bootstrap-->


<!-- internal javascript -->
    <script src="js/peminjaman.js"></script>
<!-- end internal javascript-->
</body>
</html>