<!DOCTYPE html>
<html lang="en">
<div th:replace="'template/head' :: head"></div>

<body id="page-top">

    <div th:replace="'template/sidebar' :: sidebar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- content -->
        <div th:replace="'template/content/pengembalian' :: content"></div>
        <!-- end content-->

        <!-- Footer -->
        <div th:replace="'template/footer' :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->


    <!-- Tambah Data -->
    <div th:replace="'template/add/pengembalian' :: tambah"></div>
    <!-- Akhir Tambah Data -->

    <!-- Edit Data -->
    <div th:replace="'template/edit/pengembalian' :: edit"></div>
    <!--  Akhir Edit Data -->

    <!--  Detail Data -->
    <div th:replace="'template/details/pengembalian' :: detail"></div>
    <!--  Detail Data -->

    <!--  Delete Data -->
    <div th:replace="'template/delete/pengembalian' :: delete"></div>
    <!-- Akhir Delete Data -->

    <!-- Logout Modal-->
    <div th:replace="'template/logout' :: logout"></div>
    <!-- Logout Modal-->

    <!-- external Javascript and boostrap -->
    <div th:replace="'template/javascript' :: js"></div>
    <!-- close external javascript and boostrap-->

    <!--Internal Javascript-->
    <script src="js/pengembalian.js"></script>
    <!--Close Internal Javascript-->
</body>

</html>