<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
 <!-- ======= Footer ======= -->
    <footer class="footer" role="contentinfo"  th:fragment="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 mb-md-0">
                    <h3>Tentang Sispur</h3>
                    <p>Sistem Informasi Perpustakaan ini dibangun dengan menggunakan java dan springboot , dengan penggunaan teknologi ini
                        kita dapat membuat sebuah website </p>
                    <p class="social">
                        <a href="#"><span class="icofont-twitter"></span></a>
                        <a href="#"><span class="icofont-facebook"></span></a>
                        <a href="#"><span class="icofont-dribbble"></span></a>
                        <a href="#"><span class="icofont-behance"></span></a>
                    </p>
                </div>
                <div class="col-md-7 ml-auto">
                    <div class="row site-section pt-0">
                        <div class="col-md-4 mb-4 mb-md-0">
                            <h3>Artikel</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Sosial</a></li>
                                <li><a href="#">Teknologi</a></li>
                                <li><a href="#">Aplikasi</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 mb-4 mb-md-0">
                            <h3>Contact Developer</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">Whatsapp</a></li>
                                <li><a href="#">Telegram</a></li>
                                <li><a href="#">Gmail</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4 mb-4 mb-md-0">
                            <h3>Daftar Aplikasi</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">System Management</a></li>
                                <li><a href="#">System Selling </a></li>
                                <li><a href="#">System Ecommerce </a></li>
                                <li><a href="#">System Inventory </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-center">
                <div class="col-md-7">
                    <p class="copyright">
                        &copy; 2020 <script type="text/javascript">new Date().getFullYear()>2020&&document.write("-"+new Date().getFullYear());</script>, Sistem Informasi Perpustakaan
                    </p>
                    <div class="credits">
                        Developer By <a href="https://github.com/artdengun">Deni Gunawan</a>
                    </div>
                </div>
            </div>

        </div>
    </footer>

 <!-- Vendor JS Files -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
 <script src="vendor/php-email-form/validate.js"></script>
 <script src="vendor/aos/aos.js"></script>
 <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
 <script src="vendor/jquery-sticky/jquery.sticky.js"></script>

 <!-- Template Main JS File -->
 <script src="js/main-landing.js"></script>

</body>

</html>